---
import HidGroup from './hid-group.svg'
---

<section class="hero">
  <h1 class="visually-hidden">See Enso - Digital Agency</h1>
  <div class="hero__animation-wrapper">

    <!-- <HeroLayoutSVG class="hero__layout-svg" /> -->
    <HidGroup class='hero__hid'/>
    <div class="hero__deco-planet" aria-hidden></div>
    <div class="hero__title" aria-hidden animation-hero-title><span class="top-line" aria-hidden>See Enso</span><span class="bottom-line" aria-hidden>digital agency</span></div>
  </div>
</section>

<style is:global>
  body {
    background-image: url("/images/hero/stars.png");
    background-attachment: fixed;
  }
  .hero {
    overflow-x: clip;
  }

  .hero__animation-wrapper {
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
    place-content: center;
    grid-template-areas: hero;
    isolation: isolate;
  }

  .hero__layout-svg {
    grid-area: hero;
  }

  .hero__hid {
    grid-area: hero;
    width: 50%;
    aspect-ratio: 1;
    /* transform-origin: center; */
    color: var(--text-color);

    g {
      transform-origin: 50% 50%;
    }
  }


  .hero__title {
    grid-area: hero;
    display: grid;
    place-items: center;
    row-gap: 0.25rem;
    width: fit-content;
    color: var(--text-color);
    text-transform: uppercase;
    z-index: 99;
  }

  .hero__deco-planet {
    --clip-radius: 100%;
    grid-area: hero;
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    clip-path: circle(var(--clip-radius) at 50% 50%);
    /* transition: clip-path 500ms ease-in; */
  }

  .hero__title .top-line {
    font-family: 'Arupala Grotesk Variable', 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3.375rem;
    letter-spacing: 0.25rem;
    line-height: 1.15;
  }

  .hero__title .bottom-line {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    letter-spacing: 0.25rem;
  }

  .hero__picture {
    grid-area: hero;
    width: 100%;
    height: 100%;
  }

  .hero__picture img {
    width: 100%;
    height: 100%;
    /* min-height: 100dvh; */
    object-fit: cover;
    object-position: center center;
  }

  .logo-main {
    grid-area: hero;
    width: min(75vw, 320px);
  }

  @property --z-offset {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
  }

  .deco {
    --deco-scale: 0.86;
    grid-area: hero;
    display: grid;
    grid-template-areas: deco;
    place-items: center;
    transform-origin: center;
    transform:
              translateY(50px)
              scale(var(--deco-scale));
    perspective: 1200px;
    scale: var(--deco-scale);
    z-index: 10;
  }

  .deco > img {
    --z-offset: 0px;
    grid-area: deco;
    min-width: fit-content;
    aspect-ratio: 1;
    animation: kfPerspectiveTranslate 2.2s infinite ease alternate;
    animation-delay: var(--delay, 0s);
    transform: translateZ(var(--z-offset));
  }

@media (width > 90rem ) {
  .deco {
    --deco-scale: 1;
  }
}


@keyframes kfPerspectiveTranslate {
  to {
    --z-offset: 100px;
    rotate: 360deg;
  }
}
</style>