html {
  scrollbar-color: var(--swatch-purple-650) rgba(0 0 0 / 0);
  scrollbar-width: thin;
  color-scheme: dark;
}

body {
  position: relative;
  max-width: 100%;
  font-family: var(--font-main);
  font-weight: var(--font-weight);
  font-size: var(--text-size-main);
  line-height: var(--line-height-base);
  letter-spacing: var(--typo-spacing-base);

  color: var(--text-color);
  background-color: var(--bg-color);
  text-wrap: pretty;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  text-wrap: balance;
}

h1 {
  font-size: var(--text-h1);
  line-height: var(--line-height-extra);
}

a {
  color: var(--text-color);
}

button {
  text-transform: uppercase;
  letter-spacing: var(--typo-spacing-extra);
}

.accent {
  color: var(--color-accent);
}

.container {
  --side: clamp(7px, 1.5vw, 20px);
  width: min(90rem, calc(100% - 2 * var(--side)));
  margin-inline: auto;
}

body > * {
  scroll-margin-block-start: var(--scroll-offset-start);
}

body:has(nav.show-navigation) {
  overflow: hidden;
}

[inert] {
  cursor: default;
  pointer-events: none;
  touch-action: none;
  user-select: none;
  filter: brightness(0.3);
}

.section__heading {
  --f-size: clamp(1.3125rem, 0.3419rem + 4.8529vw, 3.375rem);

  display: grid;
  font-size: var(--f-size, var(--text-h2));
  font-weight: 400;
  line-height: 1;
}

.btn {
  --stroke: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  height: var(--size, 60px);
  text-transform: uppercase;
  font-size: var(--text-size, 1em);
  border-radius: 50%;
  border: var(--stroke) solid var(--color-border);
  overflow: hidden;
}

.btn__icon {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: center;
  background-color: transparent;
}
