body {
  font-family: var(--font-main);
  font-weight: var(--font-weight);
  font-size: var(--text-size-main);
  line-height: var(--line-height-base);
  letter-spacing: var(--typo-spacing-base);

  color: var(--text-color);
  background-color: var(--bg-color);
  text-wrap: pretty;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  text-wrap: balance;
}

h1 {
  font-size: var(--text-h1);
  line-height: var(--line-height-extra);
}

button {
  text-transform: uppercase;
  letter-spacing: var(--typo-spacing-extra);
}
