.slider {
  max-width: 100%;
}

.slider__control-panel {
  --gap: 1.5rem;
  display: flex;
  justify-content: center;
  gap: var(--gap);
  margin-block-start: 1.875rem;

  @media (width > 26.5625rem) {
    --gap: 1.25rem;
    justify-content: end;
    margin-inline-end: 10%;
  }
}

.control-panel__button {
  --py: clamp(0.625rem, 0.4194rem + 0.7742vw, 1rem);
  --px: clamp(0.875rem, 0.75rem + 0.625vw, 1.3125rem);
  --br: 15rem;
  --c-bg: var(--swatch-neutral-700);
  display: inline-flex;
  align-items: center;
  padding-block: var(--py);
  padding-inline: var(--px);
  border: none;
  border-radius: var(--br);
  background-color: var(--c-bg);
  transition: background-color 250ms ease-in;
}

.control-panel__button:focus-within {
  --c-bg: var(--swatch-neutral-400);
  outline: var(--on-focus-outline);
}
.control-panel__button:hover {
  --c-bg: var(--swatch-neutral-300);
}

.control-panel__button:active {
  --c-bg: var(--swatch-neutral-350);
}

[data-button-forward] img {
  rotate: 180deg;
}
[data-button-backward] img {
  rotate: 0deg;
}

.slider__container {
  margin-block-start: 1.25rem;
  overflow-x: auto;
  mask-image: linear-gradient(
    90deg,
    transparent,
    white 3%,
    white 97%,
    transparent
  );
  mask-size: 100%;
  mask-repeat: no-repeat;
  overscroll-behavior-inline: contain;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: thin;

  @media screen and (width > 60rem) {
    scrollbar-width: none;
    scroll-snap-type: none;
  }
}

.slider__track {
  display: flex;
  flex-wrap: nowrap;
  flex: 0 0 100%;
  gap: 0.25rem;

  @media (width > 26.5625rem) {
    gap: 0.35rem;
  }

  @media (width > 48rem) {
    gap: 0.5rem;
  }
}

.slider__track > * {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
