:root {
  --typo-base-font: "Open Sans", Helvetica, Arial, sans-serif;

  --typo-size-900: 3.375rem;
  --typo-size-700: 1.675rem;
  --typo-size-600: 1.5rem;
  --typo-size-500: 1.25rem;
  --typo-size-400: 1.125rem;
  --typo-size-300: 1rem;
  --typo-size-200: 0.75rem;

  --typo-line-400: 1.3;
  --typo-line-300: 1.2;

  --typo-spacing-base: -0.01em; /* -1% */
  --typo-spacing-extra: -0.02em; /* -2% */

  --swatch-neutral-900: #06050b;
  --swatch-neutral-700: #313131;
  --swatch-neutral-400: #595959;
  --swatch-neutral-300: #b3b3b3;
  --swatch-neutral-200: #f4f4f4;

  --swatch-purple-700: #421371;
  --swatch-purple-600: #55416a;
  --swatch-purple-500: #6a21b2;
  --swatch-purple-400: #8d57d4;
  --swatch-purple-300: #c395ff;

  --swatch-backdrop: rgba(6, 5, 11, 0.165);

  --font-main: var(--typo-base-font);
  --font-weight: 400;

  --line-height-base: var(--typo-line-400);
  --line-height-extra: var(--typo-line-300);

  --text-size-main: var(--typo-size-400);
  --text-h1: var(--typo-size-900);
  --text-nav-mobile: var(--typo-size-600);
  --text-button-main: var(--typo-size-500);
  --text-button-mobile: var(--typo-size-200);
  --text-color: var(--swatch-neutral-200);

  --bg-color: var(--swatch-neutral-900);

  --color-base: var(--swatch-purple-500);
  --color-light: var(--swatch-purple-400);
  --color-lightest: var(--swatch-purple-300);
  --color-dark: var(--swatch-purple-700);
  --color-gradient-base: var(--swatch-purple-600);
  --color-border: var(--swatch-neutral-200);
  --color-backdrop: var(--swatch-backdrop);
  --color-burger: var(--swatch-neutral-700);

  --backdrop-blur: blur(7px);
  --color-bg-hover: var(--swatch-purple-700);
  --color-bg-pressed: var(--swatch-purple-500);
  --color-shadow-focused: 0 0 16px 2px #9747ff;
}
