---
import MainLayout from '@layouts/MainLayout.astro';
import Header from '@components/Header.astro';
import SectionHero from '@components/SectionHero.astro';
import SectionAbout from '@components/SectionAbout.astro';
import SectionServices from '@components/SectionServices.astro';
import SectionCases from '@components/SectionCases.astro';
import SectionTeam from '@components/SectionTeam.astro';
import SectionTicker from '@components/SectionTicker.astro';
import SectionRecentCommercials from '@components/section-recent-commercials/SectionRecentCommercials.astro';


---

<MainLayout title="See Enso - Digital Agency">
    <Header /> 
    <main>
        <SectionHero/>
        <SectionAbout/>
        <SectionServices />	
        <SectionCases/>
        <SectionTeam/>
        <SectionRecentCommercials />
        <SectionTicker/>
    </main>
</MainLayout>

<script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';

    gsap.registerPlugin(ScrollTrigger);

    const aboutTimeline = gsap.timeline({
        scrollTrigger: {
            trigger: ".about [animation-title]",
            scrub: 1,
            start: "bottom 95%",
            end: "bottom 50%",
        }
    });

    aboutTimeline.from('.about [animation-title="odd-line"]', {
        opacity: 0,
        x: -150,
        duration: 1,
    })
    .from('.about [animation-title="even-line"]', {
        opacity: 0,
        x: 150,
        duration: 1,
    }, "<70%")
    .from('.about [animation-title="accent"]', {
        opacity: 0,
        duration: 1,
    }, "<50%")
    .from('.about [animation-content="greetings"]', {
        opacity: 0,
        y: 50,
        duration: 1.2
    })
    .from('.about [animation-content="block1"]', {
        opacity: 0,
        x: 100,
        duration: 1.2,
        stagger: {
            amount: 1.2,
        }
    })
    .from('.about [animation-deco]', {
        opacity: 0,
        x: -100,
        stagger: 0.4,
        scrollTrigger: {
            trigger: '.about [animation-deco]',
            scrub: 1,
            start: "top 80%",
            end: "top 50%",
        }
    })
    .from('.about [animation-content="block2"]', {
        opacity: 0,
        x: -100,
        duration: 1.2,
        stagger: 0.4,
        scrollTrigger: {
            trigger: '.about [animation-content="block2"]',
            scrub: 1,
            end: 'top 60%'
        }
    })
    
    const servicesTimeline = gsap.timeline({ defaults: {autoAlpha: 1,},
        scrollTrigger: {
            trigger: '.services [animation-title]',
            scrub: 2,
            start: "top 80%",
            end: "top 50%",
        }
    })

    servicesTimeline.from('.services [animation-title="line"]', {
        opacity: 0,
        x: -100,
        duration: 1.2,
    })
    .from('.services [animation-title="accent"]', {
        opacity: 0,
        x: 50,
        duration: 1,
    }, "-=70%")
    .from('.services [animation-service="content"]', {
        opacity: 0,
        y: 100,
        stagger: 0.2,
        duration: 2,
    }, ">")

    gsap.set('.services [animation-service-button]', {autoAlpha: 1})
    gsap.from('.services [animation-service-button]', {
        opacity: 0,
        stagger: 0.3,
        duration: 1,
        scrollTrigger: {
            trigger: '[data-service-tab-list]',
            scrub: 1,
            start: "top 95%",
            end: "bottom 90%",
        }
    })
    

    gsap.timeline({
        scrollTrigger: {
            trigger: '.cases [animation-title]',
            scrub: 2,
            start: "top 80%",
            end: "top 50%",
        }
    })
    .from('.cases [animation-title="odd"]',
        {
            opacity: 0,
            x: -50,
            duration: 2,
            stagger: 1
        }
    )
    .from('.cases [animation-title="even"]', {
        opacity: 0,
        x: 50,
        duration: 2,
    }, "<10%")
    .from('.cases [animation-title="accent"]',
        {
            opacity: 0,
            duration: 2,
        },
        "<50%"
    )

    gsap.timeline({
        scrollTrigger: {
            trigger: '.cases [animation-scroll]',
            scrub: 1,
            start: "top 85%",
            end: "top 50%",
        }
    })
    .from('.cases [animation-scroll="nav"]', {
        opacity: 0,
        x: 50,
        duration: 1.5,
    }, "+=2")
    .from('.cases [animation-card]', {
        opacity: 0,
        y: 150,
        duration: 5,
        stagger: 0.5,
    })

    gsap.timeline({ defaults: {duration: 2},
        scrollTrigger: {
            trigger: '.team [animation-title]',
            scrub: 2,
            start: "top 85%",
            end: "top 50%",
        }
    })
    .from('.team [animation-title="odd"]', {
        opacity: 0,
        x: -50,
    })
    .from('.team [animation-title="accent"]', {
        opacity: 0,
        stagger: 2
    }, "-=30%")
    .from('.team [animation-title="even"]', {
        opacity: 0,
        x: 50,
    }, "<10%")
    .from('.team ul', {
        opacity: 0,
        y: 30,
    })

    gsap.timeline({defaults: {duration: 2}, 
        scrollTrigger:{
            trigger: ".recent-commercials [animation-title]",
            scrub: 1,
            start: "top 90%",
            end: "bottom 70%"
        }}).from('.recent-commercials [animation-title="odd"]', {
        opacity: 0,
        x: -100,
    })
    .from ('.recent-commercials [animation-title="accent"]', {
        opacity: 0,
    }, "-=70%")
    .from('.recent-commercials [animation-title="even"]', {
        opacity: 0,
        x: 100,
    })

    gsap.timeline({defaults: { duration: 3 }, 
    scrollTrigger: {
        trigger: '.recent-commercials [animation-slider]',
        scrub: 2,
        start: "top 80%",
        end: "top center",
    }})
    .from('.recent-commercials [animation-slider="controls"]', {
        opacity: 0,
        x: 100,
    })
    .from('.recent-commercials [animation-slider="track"]', {
        opacity: 0,
        y: 50,
        stagger: 0.5,
    })

</script>