---
import MainLayout from '@layouts/MainLayout.astro';


---

<MainLayout title="See Enso - Digital Agency">
	<h1>See Enso - Digital Agency</h1>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni quidem esse quia earum, numquam sint eveniet dolorem ipsum laboriosam eaque!</p>
</MainLayout>