---
import MainLayout from '@layouts/MainLayout.astro';
import Header from '@components/Header.astro';
import SectionHero from '@components/SectionHero.astro';
import SectionAbout from '@components/SectionAbout.astro';
import SectionServices from '@components/SectionServices.astro';
import SectionCases from '@components/SectionCases.astro';
import SectionTeam from '@components/SectionTeam.astro';
import SectionTicker from '@components/SectionTicker.astro';
import SectionRecentCommercials from '@components/section-recent-commercials/SectionRecentCommercials.astro';


---

<MainLayout title="See Enso - Digital Agency">
    <Header /> 
    <main>
        <SectionHero/>
        <SectionAbout/>
        <SectionServices />	
        <SectionCases/>
        <SectionTeam/>
        <SectionRecentCommercials />
        <SectionTicker/>
    </main>
</MainLayout>
