---

---

<form class="form feedback-form">
    <p class="feedback-form">Залиште свої дані і наш менеджер з вами зв’яжеться.</p>
    
    <input type="text" name="" id="" placeholder="Ім'я">
    <input type="tel" name="" id="" placeholder="Номер телефону">
    <textarea name="" id="" rows="3" placeholder="Ваше запитання"></textarea>
    
    <button type="submit">відправити</button>
</form>

<script>

</script>

<style>
  
</style>