---
import CompanyLogo from './CompanyLogo.astro';


---

<header>
  <div class="wrapper">
    <CompanyLogo imageUrl="" caption='SeeEnso'/>
    <!-- navigation with button -->
    <!-- options -->
  </div>
</header>