---

---

<section id="cases" class="section-cases">
  <div class="container">
    <h2 class="section__heading cases__heading">
      <span class="line line1">кейси,</span>
      <span class="line line2">що <span class="accent">відображають</span></span>
      <span class="line line3">нашу агенцію</span>
    </h2>
  </div>
</section>

<style is:global>
.section-cases {
  margin-block-start: clamp(6.875rem, 4.8162rem + 10.2941vw, 11.25rem);
}

.section__heading.cases__heading {
  width: fit-content;

  @media screen and (width > 26.75rem) {
    margin-inline: auto;
  }
}

.cases__heading span:has(.accent) {
  margin-inline-start: 6ch;
}
</style>