---
import { getCollection } from 'astro:content';
import CardCase from './CardCase.astro';

const cases = await getCollection('cases')
---

<section class="cases">
  <div class="container">
    <h2 id="cases"
        class="section__heading cases__heading"
        animation-title>
      <span class="line line1"
            animation-title="odd">кейси,</span>
      <span class="line line2"
            animation-title="even">що <span class="accent"
                                            animation-title="accent">відображають</span></span>
      <span class="line line3"
            animation-title="odd">нашу агенцію</span>
    </h2>
    <div  class="slider"
          data-slider="cases"
          animation-slider>
      <div  class="slider__control-panel"
            animation-slider="controls" >
        <button class="control-panel__button"
                type="button"
                data-button-backward
                aria-label="гортати назад"><img src="/images/arrow.svg" alt=""></button>
        <button class="control-panel__button"
                data-button-forward
                type="button"
                aria-label="гортати вперед"><img src="/images/arrow.svg" alt=""></button>
      </div>
      <div  id="scrollableCases"
            class="slider__container"
            data-slider-track
            animation-slider="track">
        <div  class="slider__track subgrid-parent" >
          {
            cases?.map((card) => (
              <CardCase case={card} />
            ))
          }
          </div>
      </div>
    </div>
  </div>
</section>

<script >
import { initSlider } from 'src/scripts/slider';
initSlider('cases')
</script>

<style is:global>
.cases {
  padding-block-start: var(--section-interval);
  overflow-x: clip;
}

.section__heading.cases__heading {
  width: fit-content;

  @media screen and (width > 26.75rem) {
    margin-inline: auto;
  }
}

.cases__heading span:has(.accent) {
  margin-inline-start: 6ch;
}

.cases .slider__container {
  overflow-y: clip;
}

.subgrid-parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto 1fr auto;
    column-gap: 0.75rem;
}
</style>