---

---

<section class="about">
  <div class="deco-planet-haze"></div>
  <div class="container">
    <h2 id="about" class="section__heading about__heading">
      <span class="line1">Кожен проєкт</span>
      <span class="line2">з SEE ENSO<span class="accent">м</span></span>
    </h2>
    <div class="about-grid">
      <p class="about__text block1 uppercase">Привіт!</p>
      <p class="about__text block2">Ми SEE ENSO Digital - агенція повного циклу, яка спеціалізується на створенні візуального контенту, маркетингу, комунікаціях та графічному дизайні. </p>
      <p class="about__text block2">Ми віримо, що головним показником нашого успіх є успіх вашого бренду.</p>
      <p class="about__text block2">В SEE ENSO ми прагнемо побачити Вас, відчути Ваші сенси та побудувати гармонійні робочі стосунки на довгі роки.</p>
      <div class="deco-enso-bg block3">
        <img class="deco-enso-sign" src="/images/about/enso-sign.svg" alt="" width="360" height="360">
      </div>
      <p class="about__text block4 line1">ENSO в японській філософії символізує вічний цикл життя, уособлює універсальність, цілісність і гармонію. Саме цю ідею ми закладаємо у нашу з вами роботу.</p>
      <p class="about__text block4 line2">Прийнято вважати, що характер людини повністю проявляється в тому, як він малює цей символ; тільки той, хто володіє чистим і цільним духом, може створити справжній ENSO.</p>
    </div>
  </div>
  </section>

<style is:global>
  .about {
    position: relative;
    isolation: isolate;
    overflow-x: clip;
    mask-image: linear-gradient(transparent 1%, #000000 10%);
  }

  .deco-planet-haze {
    --space-multiplier: 1;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    clip-path: polygon(0 -200%, 100% -200%, 100% 30%, 0 30%);
    margin-block-start: calc( var(--space-multiplier) * var(--section-interval));

    @media (orientation: landscape) and (width <= 48rem) {
      --space-multiplier: 2;
    }
  }

  .deco-planet-haze::before {
    --gradient-haze: linear-gradient(
        to bottom,
        var(--swatch-purple-600) 0%,
        var(--swatch-neutral-900) 8% );
      content: '';
      display: block;
      width: 135vw;
      aspect-ratio: 1;
      border-radius: 50%;
      background-image: var(--gradient-haze);
      box-shadow: var(--shadow-bg);
  }

  .about > .container {
    --space-multiplier: 2;
    padding-block-start: calc(var(--space-multiplier) * var(--section-interval));

    @media (orientation: landscape) and (width <= 48rem) {
      --space-multiplier: 2.75;
    }
  }
  

  .section__heading.about__heading {
    width: 20ch;
  }
  .about__heading {
    .line1 {
      place-self: start;
    }
    .line2 {
      place-self: end;
    }
  }

  .about-grid {
    margin-block-start: clamp(1.875rem, 0.4632rem + 7.0588vw, 4.875rem);
  }

  .about__text {
    --fs: clamp(0.875rem, 0.7724rem + 0.5128vw, 1.125rem);
    max-width: 31ch;
    font-size: var(--fs);
  }

  .about__text + .about__text {
    margin-block-start: 1rem;
  }

  .block1 + .block2 {
    margin-block-start: 1.25rem;
  }

  .block3 {
    margin-block-start: 2.5rem;
  }
  .block4 {
    margin-inline-start: auto;
  }

  .deco-enso-bg {
    --deco-gradient-spot: radial-gradient( circle at center, #f4f4f4ea 25%, #00000000 63% );
      display: grid;
      place-items: center;
      width: clamp(min(392px, 100%), 60% , 43.75rem);
      aspect-ratio: 1;
      border-radius: 100%;
      background-color: transparent;
      background-image: var(--deco-gradient-spot);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
  }

  .deco-enso-sign {
      width: clamp(min(260px, 63%), 65% ,360px);
      aspect-ratio: 1;
  }

  @media screen and (width > 26.75rem) {
    .section__heading.about__heading {
      margin-inline: auto;
    }

    .about-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(6, auto);
    }

    .block1 + .block2 {
      margin-block-start: 0rem;
    }
    .block1 {
      grid-column: 2 / 3;
    }

    .block2 {
      grid-column:  3/4;
    }

    .block3 {
      grid-column: 1 / 3;
      grid-row: 3 / 7;
    }

    .block4 {
      grid-column: 2 / 3;
      grid-row: 4;
      padding-inline: .5rem 0;
      margin-inline-start: 0;
    }

    .block4.line2 {
      grid-row: 5;
    }
  }
</style>