---
import TeamList from './TeamList.astro';


---
<section class="team">
  <h2 class="team__heading">
    <span>сильну агенцію</span>
    <span>будує сильна команда</span>
  </h2>

  <TeamList />
</section>