---
import CardCase from './CardCase.astro';
import config from '@data/config'
const {casesData} = config

---

<section id="cases" class="section-cases">
  <div class="container">
    <h2 class="section__heading cases__heading">
      <span class="line line1">кейси,</span>
      <span class="line line2">що <span class="accent">відображають</span></span>
      <span class="line line3">нашу агенцію</span>
    </h2>
    <div id="scrollableCases" class="section-cases__scroller" data-scrollable-horizontal>
      <div  class="cases-cards" >
      {
        casesData?.map((card) => (
          <CardCase 
            {...card}
          />
        ))
      }
      </div>
    </div>
  </div>
</section>

<script >
let caseScroller = document.querySelector('div[data-scrollable-horizontal]') as HTMLDivElement;
 
caseScroller?.addEventListener('wheel', (e) => {
    e.preventDefault()
    caseScroller.scrollLeft += e.deltaY + e.deltaX
  });

</script>

<style is:global>
.section-cases {
  margin-block-start: clamp(6.875rem, 4.8162rem + 10.2941vw, 11.25rem);
}

.section-cases .container {
  /* overflow: hidden; */
}
.section__heading.cases__heading {
  width: fit-content;

  @media screen and (width > 26.75rem) {
    margin-inline: auto;
  }
}

.cases__heading span:has(.accent) {
  margin-inline-start: 6ch;
}

.section-cases__scroller {
  overflow-x: auto;
  overflow-y: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; 

  @media screen and (width > 60rem) {
    scroll-snap-type: none ;
  }
}

.cases-cards {
  display: flex;
  gap: 1rem;
  width: fit-content;
  scroll-snap-stop: always;
}
</style>