---
import TeamList from './TeamList.astro';
---

<section class="team">
  <div class="team__container container">
    <h2 id="team" class="section__heading team__heading" animation-title>
      <span class="line first" animation-title="odd">сильну <span class="accent" animation-title="accent">агенцію</span></span>
      <span class="line second" animation-title="even">будує сильна <span class="accent" animation-title="accent">команда</span></span>
    </h2>
    
    <TeamList />
  </div>
</section>

<style is:global>
  .team {
    overflow: hidden;
    padding-block-start: var(--section-interval);
  }

  .team__container {
    height: 100%;
  }

  .team__heading { 
    place-content: center;
  }

  .line.second {
    margin-inline-start: min(12vw, 7ch);
  }
</style>