---
import { getCollection } from 'astro:content';
import CardCase from './CardCase.astro';

const cases = await getCollection('cases')
---

<section id="cases" class="cases">
  <div class="container">
    <h2 class="section__heading cases__heading">
      <span class="line line1">кейси,</span>
      <span class="line line2">що <span class="accent">відображають</span></span>
      <span class="line line3">нашу агенцію</span>
    </h2>
    <div class="cases__scroller-nav">
      <button class="scroller-nav__button" type="button" data-button-backward>
        <img src="/images/arrow.svg" alt="">
      </button>
      <button class="scroller-nav__button" type="button" data-button-forward>
        <img src="/images/arrow.svg" alt="">
      </button>
    </div>
    <div id="scrollableCases" class="section-cases__scroller" data-scrollable-horizontal>
      <div  class="cases-cards" >
      {
        cases?.map((card) => (
          <CardCase 
            case={card}
          />
        ))
      }
      </div>
    </div>
  </div>
</section>

<script >
let caseScroller = document.querySelector('div[data-scrollable-horizontal]') as HTMLDivElement
let casesBackwardButton = document.querySelector('[data-button-backward]') as HTMLButtonElement
let casesForwardButton = document.querySelector('[data-button-forward]') as HTMLButtonElement

caseScroller?.addEventListener('wheel', (e) => {
    e.preventDefault()
    caseScroller.scrollLeft += 5*e.deltaY + e.deltaX
  });

casesBackwardButton?.addEventListener('click', (e) => {
  caseScroller.scrollLeft -= 250
})
casesForwardButton?.addEventListener('click', (e) => {
  caseScroller.scrollLeft += 250
})
</script>

<style is:global>
.cases {
  margin-block-start: clamp(6.875rem, 4.8162rem + 10.2941vw, 11.25rem);
}

.cases .container {
  margin-block-start: var(--section-interval);
}
.section__heading.cases__heading {
  width: fit-content;

  @media screen and (width > 26.75rem) {
    margin-inline: auto;
  }
}

.cases__heading span:has(.accent) {
  margin-inline-start: 6ch;
}

.cases__scroller-nav {
  --gap: 4rem;
  display: flex;
  justify-content: center;
  gap: var(--gap);
  margin-block-start: 1.875rem;

  @media (width > 26.5625rem) {
    --gap: 1.25rem;
    justify-content: end;
    margin-inline-end: 10%;
  }
}

.scroller-nav__button {
  /* --px: clamp(0.875rem, 0.75rem + 0.625vw, 1.3125rem); */
  --py: clamp(0.625rem, 0.4194rem + 0.7742vw, 1rem);
  --px: clamp(0.875rem, 0.75rem + 0.625vw, 1.3125rem);
  --br: 15rem;
  --c-bg: var(--swatch-neutral-700);

  display: inline-flex;
  align-items: center;
  padding-block: var(--py);
  padding-inline: var(--px);
  border: none;
  border-radius: var(--br);
  background-color: var(--c-bg);
}

.scroller-nav__button:hover,
.scroller-nav__button:focus-within {
  --c-bg: var(--swatch-neutral-400);
}

[data-button-forward] img {
  rotate: 180deg;
} 
[data-button-backward] img {
  rotate: 0deg;
} 

.section-cases__scroller {
  margin-block-start: 1.25rem;
  overflow-x: auto;
  overflow-y: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; 
  scroll-behavior: smooth;
  mask-image: linear-gradient(90deg, transparent, white 3%, white 97%, transparent);
  mask-size: 100%;
  mask-repeat: no-repeat;

  @media screen and (width > 60rem) {
    scroll-snap-type: none ;
  }
}

.cases-cards {
  display: flex;
  gap: 1rem;
  width: fit-content;
  scroll-snap-stop: always;
}
</style>