---

---

<div class="options">
  <span class="options__lang btn"  aria-label="зміна мови" lang="en">EN</span>
  <a class="cta btn" href="#contacts" aria-label="зв'язатись з нами"><span class="btn__icon"></span><span class="cta__text">Зв'язатись</span></a>
</div>

<style is:global>
  .options {
    --gap: clamp(.875rem, 1.8vw, 1.25rem);
    /* --gap: clamp(14px, 1.8vw, 20px); */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap);
  }

  .options .btn {
    --size: 36px;
    --text-size: var(--text-button-mobile);
    transition: background-color 500ms ease;
  }

  .options .btn:hover {
    background-color: var(--swatch-purple-700);
  }

  .options .btn:focus-within {
    outline: 2px solid var(--swatch-neutral-200);
    outline-offset: 2px;
  }

  .options__lang.btn {
    pointer-events: none;
    opacity: 0.3;
  }

  .cta .btn__icon {
    background-image: url("/images/icons/phone.svg");
  }
  .cta__text {
    display: none;
  }

  @media screen and (width > 64em) {
    .options .btn {
      --size: 52px;
      --text-size: var(--text-button-main)
    }
  }
</style>