---

---

<figure class="team__card">
  <picture class="card__picture">
    <source>
    <source>
    <img src="" alt="">
  </picture>
  <figcaption class="card__caption">
    <h3 class="card__name"></h3>
    <h4 class="card__position"></h4>
  </figcaption>
</figure>