---
import { getCollection } from 'astro:content';
import TeamCard from './TeamCard.astro';

const mates = await getCollection('mates')
---

<ul class="team__list">
  {mates.map((mate, index) => (
    <li class="team__item">
      <TeamCard mate={mate} startAngle={`${index*90}deg`}/>
    </li>
  ))}
</ul>

<style is:global>
.team__list {
  --mbs: 2.75rem;

  display: flex;
  flex-basis: 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em 1em;
  margin-block-start: var(--mbs);
}

.team__item {
  transition: all 550ms ease-in-out;
}
.team__list:has(:focus-visible) .team__item:not(:focus-visible),
.team__list:has(:hover) .team__item:not(:hover) {
  filter: brightness(.4);
}

.team__list:has(:focus-visible) .team__item:not(:focus-visible) .card__picture,
.team__list:has(:hover) .team__item:not(:hover) .card__picture {
  filter: grayscale(1);
}

/* .team__list:has(:focus-visible) .team__item:not(:focus-visible) .card__picture::before ,
.team__list:has(:focus-visible) .team__item:not(:focus-visible) .card__picture::after ,
.team__list:has(:hover)  .card__picture::before,
.team__list:has(:hover)  .card__picture::after {
  animation-duration: 15s;
} */
.team__list:has(:focus-visible) .team__item:not(:focus-visible) .card__picture::before ,
.team__list:has(:focus-visible) .team__item:not(:focus-visible) .card__picture::after ,
.team__list:has(:hover) .team__item:not(:hover) .card__picture::before,
.team__list:has(:hover) .team__item:not(:hover) .card__picture::after {
  animation-play-state: paused;
}

@media screen and (width > 48rem) {
.team__list {
  --mbs: 5.75rem;
}
}
</style>