---
import '@styles/fonts.css'
import '@styles/reset.css'
import '@styles/vars.css'
import '@styles/global.css'
import '@styles/utility.css'
import '@styles/slider.css'
import Footer from '@components/Footer.astro'
import Meta from '@components/head/Meta.astro'

const {title} = Astro.props
---

<html lang="uk">
	<head>
    <Meta />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="/site.webmanifest" />
		<title>{title}</title>
	</head>
	<body>
		<slot/>
		<Footer/>
	</body>
</html>
